$green: #a5ffc9;
$greenShadow: #263626;

.pixelSlider {
    width: 90%;
    margin: auto;
    margin: 10px 20px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    input {
        display: block;
        width: 70%;
        min-width: 100px;
        position: relative;
        padding: 0 !important;
        border: 8px solid $green;
        border-left: 0 solid transparent;
        border-right: 0 solid transparent;
        z-index: 2;
        &::after,&::before {
            content: '';
            width: 8px;
            height: 16px;
            background: $green;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
        }
        &::before {
            left: -8px;
        }
        &::after {
            right: -8px;
        }
    }
    .shadow {
        width: 70%;
        height: 18px;
        border-top: 8px solid $greenShadow;
        border-bottom: 12px solid $greenShadow;
        position: absolute;
        left: -4px;
        bottom: -6px;
         &::after,&::before {
            content: '';
            width: 12px;
            height: 16px;
            background: $greenShadow;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: -8px;
        }
        &::before {
            left: -9px;
        }
        &::after {
            right: -10px;
        }
    }
    .sliderNumBox {
        height: 32px;
        min-width: 60px;
        line-height: 36px;
        padding-left: 20px;
        font-size: 22px;
        text-align: center;
        overflow: hidden;
        display: flex;
        p {
            font-size: 14px;
            padding-right: 6px;
        }
    }
}

// 去除默认样式
input[type=range] {
    -webkit-appearance: none;
}
input[type=range]::-ms-track {
    height: 16px;
    color: transparent;         /*去除轨道内的竖线*/
    border-color: transparent;  /*去除原有边框*/
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
// 滑动轨道样式
input[type=range]::-webkit-slider-runnable-track {
    height: 16px;
}
input[type=range]::-moz-range-track {
    height: 16px;
}
input[type=range]:focus {
    outline: none;
}
// 滑块样式
input[type=range]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    width: 0px;
    height: 44px;
    margin-top: -14px;                /*使滑块超出轨道部分的偏移量相等*/
    background: transparent;
    border: solid 8px $green;    /*设置边框*/
}


@mixin change_position() {
    .pixelSlider {
        flex-direction: column;
        margin: 10px 0;
        .shadow {
            top: 0;
        }
        .sliderNumBox {
            font-size: 18px;
            text-align: right;
            padding: 10px 0 0 0;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #home {
        @include change_position();
    }
}
// 手机
@media screen and (max-width: 768px) {
    #home {
        @include change_position();
    }
};