$green: #a5ffc9;
$greenShadow: #263626;
.pixelInput {
	position: relative;
	margin-right: 20px;
	&::before,&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 6px;
		background: $greenShadow;
	}
	&::before {
		height: 4px;
		top: 6px;
		left: 0;
	}
	&::after {
		bottom: -6px;
		left: -4px;
	}
	input {
		width: 100%;
		padding-left: 6px;
		font-size: 18px;
		line-height: 22px;
		border-top: 6px solid $green;
		border-bottom: 6px solid $green;
		border-left: none;
		border-right: none;
	}
	.border {
		content: '';
		width: 6px;
		height: 27px;
		background: $green;
		position: absolute;
		top: 6px;
		&::before {
			content: '';
			position: absolute;
			width: 6px;
			height: 27px;
			background: $greenShadow;
		}
		&::after {
			content: '';
			position: absolute;
			width: 6px;
			height: 11px;
			left: 0;
			bottom: -11px;
			background: $greenShadow;
		}
		&:nth-child(1) {
			left: -6px;
			&::before {
				left: -6px;
				top: 4px;
			}
		}
		&:nth-child(3) {
			right: -6px;
			&::before {
				height: 26px;
				left: -6px;
				top: 0;
			}
			&::after {
				display: none;
			}
		}
	}
}